@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Superheroes, Welcome!</h1>

    <img style="width: 100%; height: auto;" src="/images/HeroScholar.jpg"/>
</div>
