@model IEnumerable<SuperheroCreator.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>The OFFICIAL Superhero Database</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hero Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.SuperheroId">@item.HeroName</a>
            </td>
        </tr>
}
    </tbody>
</table>
