@model IEnumerable<SuperheroCreator.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>The OFFICIAL Superhero Database</h1>

<img src="images/superhero_explosion2.png" style="width: 100%;"/>

<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th>
                Hero Name
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border-bottom: 1px solid #dee2e6;"><a asp-action="Create">Create New Hero</a></td>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td style="border-top: none;">
                <a asp-action="Details" asp-route-id="@item.SuperheroId">@item.HeroName</a>
            </td>
        </tr>
}
    </tbody>
</table>
